body{
    margin: 0;
    /* position: relative; */
}
/* #ball{
    width: 40px;
    height: 40px;
    background-color: #ff0000;
    border-radius: 50%;
    position: fixed;
    top: 30px;
    left: 10px;
} */
canvas {
    background-color: white;
}